h1, h2, footer {
    text-align: center;
    
}

h2 {
    /*color:#FF5CD6;
    color:#EFBCC9;*/
    
    color:aliceblue;

    font-family: Garamond, serif;
}
body {
    background-color: #8C8C8C;
}

a:hover {
    /*color: #FFBCC0;*/
    color: plum;
	font-weight: lighter;
	text-decoration: none;
}